{%  extends 'base.html.twig' %}

{% block title %}Hello TeleCommController!{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <section>
        {% for event in events %}
            {% if event.online == true %}
                <div class = "card">
                    <div class="header bg-red">
                        <h2>{{event.name}}</h2>
                    </div>
                    <div class="body">
                        {% if (event.allDisplays == true) %}
                            <span class="badge bg-green">Tous les écrans</span>
                        {% else %}
                            {% for display in event.displays %}
                                <span class="badge bg-orange">{{ display.name }}</span>
                            {% endfor %}
                        {% endif %}
                        <div class="metadata">
                            <p> Publié entre le {{event.start| date ('d/m/Y')}} à {{ event.start | date('H:i') }}  et le {{ event.end | date ('d/m/Y') }} à {{ event.end | date('H:i') }} </p>
                            <p> Par : {{event.addedBy.username}} </p>
                            <p> Lieu : {{ event.location }}</p>
                        </div>
                        <div class="content">
                            <div class="col text-center">
                                <a href="{{ path('event_show',{'id':event.id}) }}" class="btn btn-success">Valider l'événement</a>
                                <a href="{{ path('event_edit',{'id':event.id}) }}" class="btn btn-primary">Voir l'événement</a>
                                <a href="#" class="btn btn-danger">Supprimer l'événement</a>

                            </div>
                        </div>
                    </div>

                </div>
                <hr>
            {% endif %}


        {% endfor %}

    </section>
{% endblock %}