{% extends 'base.html.twig' %}

{% form_theme form 'form/bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="card">
        <div class="header bg-red">
            <h2>Rechercher un événement</h2>
        </div>
        <div class="body">
            {{ form_start(form) }}
            <div class="form-row">
                <div class = "col">
                    {{ form_row(form.isOnline) }}
                </div>
                <div class = "col">
                    <button class="btn btn-primary">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <section>
        {% for event in events %}
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class = "card ">
                <div class="header bg-red">
                    <h2>{{event.name}}</h2>
                </div>
                <div class="body">
                    {% if (event.online == 1) %}
                        <span class="badge bg-green">Accepté</span>
                    {% else %}
                        <span class="badge bg-orange">En cours de vérification</span>
                    {% endif %}
                    <div class="metadata">
                        <p> <strong>Date :</strong> entre le {{event.start| date ('d/m/Y')}} à {{ event.start | date('H:i') }}  et le {{ event.end | date ('d/m/Y') }} à {{ event.end | date('H:i') }} </p>
                        <p> <strong>Publié par :</strong> {{event.addedBy.fullName}} </p>
                        <p> <strong>Lieu :</strong> {{ event.location }}</p>
                    </div>
                    <div class="content">
                        <div class="col text-center">
                            <a href="{{ path('event_show',{'id':event.id}) }}" class="btn btn-success">Voir l'événement</a>
                            {% if is_granted('EVENT_EDIT', event) %}
                                <a href="{{ path('event_edit',{'id':event.id}) }}" class="btn btn-primary">Modifier l'événement</a>
                            {% endif %}
                            {% if is_granted('EVENT_DELETE', event) %}
                                <a href="{{ path('event_delete',{'id':event.id}) }}" class="btn btn-danger">Supprimer l'événement</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {% endfor %}

    </section>

    <div class="pagination">
        {{ knp_pagination_render(events) }}
    </div>

{% endblock %}

